#!/usr/bin/env ruby

require 'compass'


Compass.add_project_configuration 'config.rb'


# == Compilation rules ========================================================

# Don't apply filters for the images
compile '/assets/images/*/' do
end

# Don't apply filters for the SCSS partials, because we will not route them
compile '/assets/styles/_*/' do
end

# For each stylesheet filter it as a SCSS item
compile '/assets/styles/*/' do
  filter :sass, Compass.sass_engine_options
end

# The scripts are filtered with ERB because we could want to use some kind of
# pre-processing
compile '/assets/scripts/*/' do
  filter :erb
end

# Markups are filtered with ERB and use the 'default.html' layout
compile '/markup/*/' do
  filter :erb
  layout 'default'
end

# Default rule for compile: don't do anything
compile '*' do
end


# == Routing rules ============================================================

route '/assets/images/*/' do
  item.identifier.chop + '.' + item[:extension]
end

# Don't output SCSS partials, so return nil
route '/assets/styles/_*/' do
  nil
end

route '/assets/styles/*/' do
  item.identifier.chop + '.css'
end

route '/assets/scripts/*/' do
  item.identifier.chop + '.js'
end

compile '/markup/*/' do
  item.identifier.chop + '.html'
end

route '*' do
  item.identifier.chop + '.html'
end


# == Layout rules =============================================================

# Compile the layouts using ERB
layout '*', :erb
