<div id="main" class="large-twelve columns page-awesootup">

  <!-- == Title ============================================================ -->

  <div id="title-wrp">
    <h3 id="title">
      You have selected the awesootup: <span id="cur-awesootup-name"></span>
    </h3>
  </div>

  <hr/>

  <div class="row">

    <!-- == Current awesootup details ====================================== -->

    <div id="cur-awesootup-details-wrp" class="large-eight columns">
      <div class="panel rounded">

        <h4 id="cur-awesootup-details-title">Details</h4>

        <table class="twelve">
          <tbody>
          <tr>
            <td><strong>Description</strong></td>
            <td id="cur-awesootup-description"></td>
          </tr>
          <tr>
            <td><strong>Author</strong></td>
            <td id="cur-awesootup-author"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <!-- == Current awesootup actions ====================================== -->

    <div id="cur-awesootup-actions-wrp" class="large-four columns">
      <div class="panel rounded">

        <h4 id="cur-awesootup-actions-title">Actions</h4>

        <div id="cur-awesootup-actions">

          <ul class="button-group radius">
            <li id="action-start-wrp">
              <a id="action-start" href="javascript:void(0)"
                 class="button radius"></a>
            </li>
            <li id="action-restart-wrp">
              <a id="action-restart" href="javascript:void(0)"
                 class="button radius">
                <span class="general foundicon-refresh"> Restart</span>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>

    <!-- == Current awesootup widget ======================================= -->

    <div class="row">
      <div id="cur-awesootup-widget-wrp" class="large-twelve columns">
        <div class="panel rounded">

          <h4 id="cur-awesootup-widget-title">Modules Tree</h4>

          <div id="cur-awesootup-widget"></div>

        </div>
      </div>

    </div>

  </div>

</div>
