<div id="main" class="twelve columns">

  <!-- == Presentation ===================================================== -->

  <div id="presentation-wrp" class="row">
    <div id="presentation" class="twelve columns">
      <div class="panel rounded">

        <!-- == Logo & Title =============================================== -->

        <div class="row">

          <div id="logo-wrp" class="five columns">
            <img id="logo" src="/assets/images/app/logo.svg"/>
          </div>

          <div id="title-wrp" class="seven columns">
            <h1 id="title"><%= $global_cfg.get(:title) %></h1>
          </div>

        </div>

        <!-- == Description ================================================ -->

        <div class="row">
          <div class="eight columns centered">

            <h3 id="description" class="subheader">
              The modular guide for gentoo setup that works!
            </h3>

          </div>
        </div>

      </div>
    </div>
  </div>

  <hr />

  <!-- == Informations ===================================================== -->

  <div id="info-wrp" class="row">
    <div id="info">

      <!-- == Features ===================================================== -->

      <div id="features-wrp" class="seven columns">
        <div id="features" class="panel rounded">

          <h4 id="features-title">Features</h4>

          <ul id="features-items">

            <li id="feature-modularity" class="feature-item">

              <strong id="feature-modularity-title" class="feature-title">
                Modularity is the keyword for a lot of possibilities
              </strong>:

              <ul id="feature-modularity-content" class="feature-content">
                <li>
                  Start with the
                  <a href="javascript:void(0)"
                     class="scroll-to select-tab"
                     data-scroll-to="awesootupbuilder-wrp"
                     data-select-tab="awesootupbuilder-standalone-title">
                    <span class="label">standalone</span>
                  </a>
                  awesootup
                </li>
                <li>
                  Start with a
                  <a href="javascript:void(0)"
                     class="scroll-to select-tab"
                     data-scroll-to="awesootupbuilder-wrp"
                     data-select-tab="awesootupbuilder-popular-title">
                    <span class="label">popular</span>
                  </a>
                  awesootup
                </li>
                <li>
                  Create your
                  <a href="javascript:void(0)"
                     class="scroll-to select-tab"
                     data-scroll-to="awesootupbuilder-wrp"
                     data-select-tab="awesootupbuilder-custom-title">
                    <span class="label">custom</span>
                  </a>
                  awesootup, by selecting the desired modules
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- == News ========================================================= -->

      <div id="news-wrp" class="five columns">
        <div id="news" class="panel rounded">

          <h4 id="news-title">News</h4>

        </div>
      </div>

    </div>
  </div>

  <hr />

  <!-- == AwesootupBuilder ================================================= -->

  <div id="awesootupbuilder-wrp" class="row">
    <div id="awesootupbuilder" class="twelve columns">
      <div class="panel rounded">

        <h4 id="awesootupbuilder-title">Awesootup Builder</h4>

        <!-- == AwesootupBuilder titles ==================================== -->

        <dl id="awesootupbuilder-titles" class="tabs">

          <dd id="awesootupbuilder-standalone-title-wrp" class="active">
            <a id="awesootupbuilder-standalone-title"
               href="#awesootupbuilder-standalone">
              <i class="general foundicon-checkmark">&nbsp;&nbsp;Standalone</i>
            </a>
          </dd>

          <dd id="awesootupbuilder-popular-title-wrp">
            <a id="awesootupbuilder-popular-title"
               href="#awesootupbuilder-popular">
              <i class="general foundicon-star">&nbsp;&nbsp;Popular</i>
            </a>
          </dd>

          <dd id="awesootupbuilder-custom-title-wrp">
            <a id="awesootupbuilder-custom-title"
               href="#awesootupbuilder-custom">
              <i class="general foundicon-tools">&nbsp;&nbsp;Custom</i>
            </a>
          </dd>

        </dl>

        <!-- == AwesootupBuilder tabs ====================================== -->

        <ul id="awesootupbuilder-tabs" class="tabs-content">

          <li id="awesootupbuilder-standaloneTab" class="active">
            <h5>
              The standalone awesootup is the classic one, containing all of the
              basic modules, featuring a complete setup.
            </h5>
            <hr/>
            These are the selected modules:
          </li>

          <li id="awesootupbuilder-popularTab">
            The following awesootups are the most popular ones:
          </li>

          <li id="awesootupbuilder-customTab">
            Create your custom awesootup by selecting the desired modules and
            by placing them in your desired order:
          </li>

        </ul>

      </div>
    </div>
  </div>

</div>
