@import "compass/css3";
@import "app/config/colors";


/* INF: If you modify $node-width and $node-height, you also need to modify
 *      node_width and node_height in AwesootupWidget
 *      (assets/scripts/app/awesootup-widget.js) */
$node-width: 80px;
$node-height: 40px;
$border-size: 1px;
$border-radius: 0.3em;
$blur: 0.8em;


.awesootup-widget {
  overflow: auto;
}

.node {
  width: $node-width;
  height: $node-height;

  .node-title-wrp {
    width: inherit;
    height: inherit;

    background-color: $color-dark;
    color: $color-light;

    border: $border-size solid $color-dark;
    @include border-radius($border-radius $border-radius);

    .node-title {
      width: inherit;
      height: inherit;

      text-align: center;

      @include box-shadow(black 0em 0em $blur inset);
      @include border-radius($border-radius $border-radius);

      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $color-cyan;
      }
    }
  }
}
