@import "compass/css3";
@import "app/config/colors";


/* INF: If you modify $node-width and $node-height, you also need to modify
 *      node_width and node_height in AwesootupWidget
 *      (assets/scripts/app/awesootup-widget.js) */
$node-width: 80px;
$node-height: 40px;


.awesootup-widget {
  overflow: auto;
}

.node {
  width: $node-width;
  height: $node-height;
  background-color: $color-light;
  color: $color-dark;
  border: 1px solid $color-dark;
  @include box-shadow($color-dark 0em 0em 1.2em);
  @include border-radius(0.3em 0.3em);
  cursor: pointer;

  &:hover {
    @include opacity(0.8);
  }

  .node-title-wrp, .node-title {
    width: $node-width;
    height: $node-height - 2px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
}
