<div id="footer" class="large-12 columns">

  <div id="about" class="section-container accordion" data-section>

    <!-- == About the project ============================================== -->

    <section id="about-project" class="section">

        <!-- == About the project - Title ================================== -->

        <p id="about-project-title-wrp" class="title go-to-bottom">
          <a id="about-project-title" href="#">
            <i class="general foundicon-website go-to-bottom">
              About the project
            </i>
          </a>
        </p>

        <div id="about-project-content-wrp" class="content">
          <div id="about-project-content" class="panel">
            <div class="row full-width">

              <!-- == About the project - Info ============================= -->

              <div id="about-project-info-wrp" class="large-5 columns">
                <%= render 'partials/footer/about-project-info' %>
              </div>

              <!-- == About the project - Contribute ======================= -->

              <div id="about-project-contribute-wrp" class="large-7 columns">
                <%= render 'partials/footer/about-project-contribute' %>
              </div>

            </div>
          </div>
        </div>

    </section>

    <!-- == About the contributors ========================================= -->

    <section id="about-contributors" class="section">

      <p id="about-contributors-title-wrp" class="title go-to-bottom">
        <a id="about-contributors-title" href="#">
          <i class="general foundicon-heart go-to-bottom">
            About Author /
            <span class="has-tip tip-top" data-width="210"
                  title="Many thanks to all contributors!">
              Contributors
            </span>
          </i>
        </a>
      </p>

      <div id="about-contributors-content-wrp" class="content">
        <div id="about-contributors-content" class="panel">
          <div class="row full-width">

            <div id="about-contributors-listing-wrp" class="large-12 columns">
              <%= render 'partials/footer/about-contributors' %>
            </div>

          </div>
        </div>
      </div>

    </section>

    <!-- == About useful links ============================================= -->

    <section id="about-usefullinks" class="section">

      <p id="about-usefullinks-title-wrp" class="title go-to-bottom">
        <a id="about-usefullinks-title" href="#">
          <i class="general foundicon-cloud go-to-bottom">Some useful links</i>
        </a>
      </p>

      <div id="about-usefullinks-content-wrp" class="content">
        <div id="about-usefullinks-content" class="panel">
          <div class="row full-width">

            <%= render 'partials/footer/about-usefullinks' %>

          </div>
        </div>
      </div>

    </section>

  </div>

</div>
