<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    <%= $global_cfg.get(:acronym) %>
  </title>

  <meta name="author" content="<%= $global_cfg.get(:author, :name) %>">
  <meta name="description" content="Awesome Gentoo Setup">

  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">

  <script data-main="/assets/scripts/app.js"
          src="/assets/scripts/lib/require.js"></script>

  <link rel="stylesheet" href="/assets/styles/app.css">

  <link rel="shortcut icon"
        href="/assets/images/app/icons/favicon.ico">
  <link rel="apple-touch-icon"
        href="/assets/images/app/icons/apple-touch-icon.png">
  <link rel="apple-touch-icon"
        href="/assets/images/app/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon"
        href="/assets/images/app/icons/apple-touch-icon-114x114.png">

</head>
