<div id="header" class="contain-to-grid fixed">
  <div class="row">

    <div class="twelve columns">

      <nav class="top-bar">

        <!-- == Title Area ================================================= -->

        <ul>
          <li class="name">
            <h1>
              <%= internal_link(:index) %>
            </h1>
          </li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>

        <!-- == Navigation ================================================= -->

        <section>

          <!-- == Left Navigation ========================================== -->

          <ul class="left">

            <!-- == Guide Index ============================================ -->
            <li class="divider"></li>
            <li>
              <%= internal_link(:guide, :prepend => ' ',
                    :class => 'general foundicon-page') %>
            </li>
            <li class="divider hide-for-small"></li>

          </ul>

          <!-- == Right Navigation ========================================= -->

          <ul class="right">

            <!-- == Guide Index ============================================ -->
            <li class="divider"></li>
            <li>
              <%= internal_link(:about, :prepend => ' ',
                    :class => 'social foundicon-torso go-to-bottom') %>
            </li>
            <li class="divider hide-for-small"></li>

          </ul>

        </section>

      </nav>

    </div>

  </div>
</div>
