<div class="contain-to-grid fixed">
  <div class="row">

    <div class="twelve columns">

      <nav class="top-bar">

        <!-- == Title Area ================================================= -->

        <ul>
          <li class="name">
            <h1>
              <a href="/index.html">Awesootup</a>
            </h1>
          </li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>

        <!-- == Navigation ================================================= -->

        <section>

          <!-- == Left Navigation ========================================== -->

          <ul class="left">

            <!-- == Guide Index ============================================ -->
            <li class="divider"></li>
            <li>
              <a class="general foundicon-page"
                 href="/guide/guide-index.html"> Guide Index</a>
            </li>
            <li class="divider hide-for-small"></li>

          </ul>

          <!-- == Right Navigation ========================================= -->

          <ul class="right">

            <!-- == Guide Index ============================================ -->
            <li class="divider"></li>
            <li>
              <a class="social foundicon-torso"
                 href="/about.html"> About</a>
            </li>
            <li class="divider hide-for-small"></li>

          </ul>

        </section>

      </nav>

    </div>

  </div>
</div>
